# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
.turbo/

# env
.env
.env.local
.env.*.local

# prisma generated
packages/db/prisma/generated/

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
.cursor/

# logs
*.log
npm-debug.log*
.agents
docs
prototype